Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2023-04, with the labels that each got.

#47 Oak Items
  bundle.js
  data/Oak Items/Amulet Coin_description.md
  data/Oak Items/Blaze Cassette_description.md
  data/Oak Items/Cell Battery_description.md
  data/Oak Items/EXP Share_description.md
  data/Oak Items/Explosive Charge_description.md
  data/Oak Items/Magic Ball_description.md
  data/Oak Items/Rocky Helmet_description.md
  data/Oak Items/Shiny Charm_description.md
  data/Oak Items/Sprayduck_description.md
  data/Oak Items/Sprinklotad_description.md
  data/Oak Items/Squirtbottle_description.md
  data/Oak Items/Treasure Scanner_description.md
  pages/Oak Items/main.html
  pages/Oak Items/overview.html
  pages/home.html
  scripts/main.js
  scripts/pages/oakItems.js
  scripts/typeahead.js
Labels: markdown, html, script

#50 Weather page fix/updates
  pages/Weather/overview.html
  pages/home.html
Labels: html

#49 More for temporary mega Pokémon stone battles
  pages/Mega Pokémon/overview.html
Labels: html

#48 Farm Simulator - Growth time updates
  bundle.js
  pages/Farm Simulator/overview.html
  scripts/pages/farmSimulator.js
Labels: html, script

#51 Dungeon loot v2
  bundle.js
  index.html
  pages/Dungeons/main.html
  scripts/pages/dungeons.js
Labels: html, script

#52 Berry Exp
  pages/Berries/main.html
  pages/Berries/overview.html
Labels: html

#53 Page for generating deal chains
  bundle.js
  index.html
  pages/Daily Deal Chains/overview.html
  pages/Daily Deals/overview.html
  pages/home.html
  scripts/main.js
  scripts/pages/dealChains.js
  scripts/typeahead.js
Labels: html, script

#54 Battle Frontier Milestones + Stats
  pages/Battle Frontier/overview.html
Labels: html

#56 Fixup berry table sorting
  pages/Berries/overview.html
Labels: html

#57 Fix berry descriptions
  pages/Berries/main.html
Labels: html
