Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2023-09, with the labels that each got.

#137 Show Pokémon shiny version on mouseover
  pages/Pokémon/main.html
  styles.css
Labels: html

#133 Wiki Currency Pages
  bundle.js
  data/Battle Points/overview.md
  data/Battle Points/overview_description.md
  data/Diamonds/overview.md
  data/Diamonds/overview_description.md
  data/Dungeon Tokens/overview.md
  data/Dungeon Tokens/overview_description.md
  data/Farm Points/overview.md
  data/Farm Points/overview_description.md
  data/Pokémon Dollars/overview.md
  data/Pokémon Dollars/overview_description.md
  data/Quest Points/overview.md
  data/Quest Points/overview_description.md
  index.html
  pages/Battle Points/overview.html
  pages/Diamonds/overview.html
  pages/Dungeon Tokens/overview.html
  pages/Farm Points/overview.html
  pages/Pokémon Dollars/overview.html
  pages/Quest Points/overview.html
  pages/home.html
  scripts/game.js
  scripts/main.js
  scripts/pages/dungeonTokens.js
  scripts/pages/shopMon.js
  styles.css
Labels: markdown, html, script

#139 Currency Pages - Typeahead Addition
  bundle.js
  scripts/typeahead.js
Labels: script

#123 Safari Page
  bundle.js
  data/Safari/overview_description.md
  pages/Safari/overview.html
  scripts/typeahead.js
Labels: markdown, html, script

#141 DT page update
  pages/Diamonds/overview.html
  pages/Dungeon Tokens/overview.html
Labels: html

#142 Add berry trades to town page
  pages/Towns/main.html
Labels: html

#130 Support for custom reusable knockout components, use pokemon summary box as tooltip
  bundle.js
  pages/Pokémon/main.html
  pages/Routes/main.html
  scripts/components.js
  scripts/main.js
  styles.css
  templates/pokemon-summary.html
Labels: html, script

#143 Show subregion map with location highlighted for towns/dungeons/routes
  bundle.js
  pages/Dungeons/main.html
  pages/Routes/main.html
  pages/Towns/main.html
  scripts/gameHelper.js
  styles.css
Labels: html, script

#145 Fix dungeons page using function not supported by the in-client browser
  bundle.js
  scripts/pages/dungeons.js
Labels: script

#147 Fix themes
  index.html
Labels: html

#150 Added page for Challenge Modes
  bundle.js
  data/Challenge Modes/overview_description.md
  pages/Challenge Modes/overview.html
  pages/home.html
  scripts/typeahead.js
Labels: markdown, html, script

#148 Added Team to Dungeon Trainers
  pages/Dungeons/main.html
Labels: html

#146 Add gender to Pokemon summary
  styles.css
  templates/pokemon-summary.html
Labels: html

#149 Hide unreleased regions
  bundle.js
  pages/Berries/main.html
  pages/Dungeon Tokens/overview.html
  pages/Dungeons/overview.html
  pages/Pokémon/main.html
  pages/Pokémon/overview.html
  pages/Routes/overview.html
  pages/Temporary Battles/overview.html
  pages/Towns/overview.html
  scripts/typeahead.js
Labels: html, script

#152 Add a cancel button the markdown editor
  bundle.js
  scripts/markdown-editor.js
Labels: script
