Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2023-05, with the labels that each got.

#58 Shard Trader / Fossil Master fixes
  pages/Items/main.html
  pages/Towns/main.html
Labels: html

#60 Town image width
  pages/Towns/main.html
Labels: html

#61 Added Stone Evolution to Pokémon with a location requirement
  pages/Pokémon/main.html
Labels: html

#59 Removed Trials from Gem pages
  pages/Gems/main.html
Labels: html

#62 Hatchery Helper Stats
  data/Hatchery Helpers/overview.md
  data/Hatchery Helpers/overview_description.md
  pages/Hatchery Helpers/overview.html
Labels: markdown, html

#64 Farm Simulator - copy and paste
  bundle.js
  pages/Farm Simulator/overview.html
  scripts/pages/farmSimulator.js
Labels: html, script

#66 Temp Battles
  bundle.js
  data/Temporary Battles/overview_description.md
  pages/Temporary Battles/main.html
  pages/Temporary Battles/overview.html
  pages/home.html
  scripts/main.js
  scripts/pages/tempBattles.js
  scripts/typeahead.js
Labels: markdown, html, script

#68 Gyms page
  bundle.js
  pages/Gyms/main.html
  pages/Gyms/overview.html
  pages/home.html
  scripts/typeahead.js
Labels: html, script

#69 Fix evolution item shard deals
  pages/Items/main.html
Labels: html

#72 Fix duplicates and filter DummyEvolutions in 'Evolves into' section
  pages/Pokémon/main.html
Labels: html

#73 More Mega Stones (Hoenn and others)
  pages/Mega Pokémon/overview.html
Labels: html

#74 Fix individual mega pages
  pages/Pokémon/main.html
Labels: html

#75 Fixed megas (again)
  pages/Pokémon/main.html
Labels: html

#79 Fixed None Stone breaking the Pokémon pages
  pages/Pokémon/main.html
Labels: html

#81 Add page info into tab titles
  bundle.js
  index.html
  scripts/navigation.js
Labels: html, script

#78 Gyms minor updates
  pages/Gyms/main.html
  pages/Routes/main.html
  pages/Towns/main.html
Labels: html

#80 Dungeons update
  pages/Dungeons/main.html
Labels: html

#71 Wandering Pokémon
  bundle.js
  data/Farm/overview_description.md
  data/Wandering Pokémon/overview_description.md
  pages/Berries/overview.html
  pages/Wandering Pokémon/overview.html
  scripts/typeahead.js
Labels: markdown, html, script

#84 Fixed default BF calculator
  pages/Battle Frontier/overview.html
Labels: html
