Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2023-03, with the labels that each got.

#33 Allow matching e and é
  bundle.js
  scripts/typeahead.js
Labels: script

#28 Weather page
  data/Weather/overview.md
  data/Weather/overview_description.md
  pages/Weather/overview.html
  scripts/typeahead.js
Labels: markdown, html, script

#30 Daily Deals page
  bundle.js
  pages/Daily Deals/overview.html
  scripts/game.js
  scripts/typeahead.js
Labels: html, script

#25 Added Trivia section at the end of Dungeons
  pages/Dungeons/overview.html
Labels: html

#39 Added region/subregion and regional difficulty to dungeons
  pages/Dungeons/main.html
  pages/Dungeons/overview.html
Labels: html

#42 Adds Category Column to Items Page
  pages/Items/overview.html
Labels: html

#22 Dungeon loot tables
  bundle.js
  pages/Dungeons/main.html
  scripts/main.js
  scripts/pages/dungeons.js
Labels: html, script

#26 Show roamer regions on Pokémon page
  pages/Pokémon/main.html
Labels: html

#29 Attempt to fix the broken images
  images/Charmander_infected.png
  images/DreamOrbsOpening.png
Labels: images

#34 Rare Hold Items
  bundle.js
  pages/Items/main.html
  pages/Pokémon/main.html
  pages/Rare Hold Items/overview.html
  scripts/main.js
  scripts/pages/items.js
  scripts/typeahead.js
Labels: html, script

#35 Berry mutation rates
  bundle.js
  pages/Berries/main.html
  scripts/main.js
  scripts/pages/farm.js
Labels: html, script

#43 Add new Mega details
  pages/Mega Pokémon/overview.html
Labels: html

#44 Item page improvements
  bundle.js
  pages/Items/main.html
  scripts/game.js
Labels: html, script

#45 Town Improvements
  pages/Towns/main.html
Labels: html
