Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2023-02, with the labels that each got.

#13 [FIX] Don't floor the attack bonus
  bundle.js
  scripts/pages/pokemon.js
Labels: script

#15 [FIX] Dungeon table sorting
  pages/Dungeons/overview.html
Labels: html

#16 [FEATURE] Dream orb items and chances
  bundle.js
  scripts/main.js
  scripts/pages/dreamOrbs.js
Labels: script

#17 Dream orbs page
  data/DreamOrbs/overview_description.md
  images/DreamOrbsOpening.png
  pages/DreamOrbs/overview.html
Labels: markdown, images, html

#18 Pokerus page
  bundle.js
  data/Pokérus/overview_description.md
  images/Charmander_infected.png
  pages/Pokérus/overview.html
  scripts/navigation.js
  scripts/typeahead.js
Labels: markdown, images, html, script

#19 Show dream orbs in search
  bundle.js
  data/Dream Orbs/overview_description.md
  pages/Dream Orbs/overview.html
  scripts/typeahead.js
Labels: markdown, html, script

#21 Dream Orbs: loot icons
  bundle.js
  pages/Dream Orbs/overview.html
  scripts/pages/dreamOrbs.js
  styles.css
Labels: html, script

#23 Mega Pokemon
  bundle.js
  data/Mega Pokemon/overview_description.md
  pages/Mega Pokemon/overview.html
  scripts/typeahead.js
Labels: markdown, html, script

#24 [FIX] Shop egg Pokémon overview
  pages/Eggs/overview.html
Labels: html

#20 [FEATURE] Redirection
  bundle.js
  data/Mega Pokémon/overview_description.md
  data/Pokémon/---.md
  data/Pokémon/Magikarp Saucy Blue_description.md
  data/Pokémon/MissingNo-.md
  data/Pokémon/MissingNo._description.md
  data/Pokémon/overview_description.md
  pages/Mega Pokémon/overview.html
  pages/Pokémon/main.html
  pages/Pokémon/overview.html
  scripts/navigation.js
  scripts/redirections.js
  scripts/typeahead.js
Labels: markdown, html, script
