Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2023-12, with the labels that each got.

#168 Some v0.10.16 fixes/updates
  bundle.js
  data/Shadow Pokémon/overview_description.md
  images/settings.svg
  images/user.svg
  pages/Pokémon/main.html
  scripts/pages/dungeons.js
Labels: markdown, images, html, script

#165 Add alert when the page fails to load due to Knockout binding failure
  bundle.js
  scripts/notifications.js
Labels: script

#169 Badges png to svg
  pages/Gyms/main.html
Labels: html

#173 Update comparison so Leaf Stone evolutions show on Pokémon page
  pages/Pokémon/main.html
Labels: html

#171 Add berry wither time to berry page
  pages/Berries/main.html
Labels: html

#174 Fix a couple requirement hints
  pages/Dungeons/main.html
  scripts/gameHelper.js
Labels: html, script

#177 Fix requirements again
  bundle.js
Labels: script

#175 Fix WeatherRequirements that are part of multirequirement
  bundle.js
  scripts/game.js
Labels: script

#164 Achievements page
  bundle.js
  data/Achievements/overview_description.md
  pages/Achievements/overview.html
  pages/home.html
  scripts/game.js
  scripts/typeahead.js
Labels: markdown, html, script
