Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2023-01, with the labels that each got.

#6 Added a table for Battle Café Alcremie forms.
  bundle.js
  data/BattleCafe/overview.md
  package-lock.json
  package.json
  scripts/markdown-renderer.js
Labels: markdown, script

#5 Login/Editing
  bundle.js
  images/user.svg
  index.html
  scripts/discord.js
  scripts/main.js
  scripts/markdown-editor.js
  scripts/navigation.js
  scripts/notifications.js
  styles.css
Labels: images, html, script

#7 Added details for Generation I Berries.
  data/Berries/Aspear.md
  data/Berries/Cheri.md
  data/Berries/Chesto.md
  data/Berries/Leppa.md
  data/Berries/Oran.md
  data/Berries/Pecha.md
  data/Berries/Rawst.md
  data/Berries/Sitrus.md
Labels: markdown

#8 Add route information
  pages/Pokemon/main.html
  pages/Routes/main.html
  pages/Routes/overview.html
Labels: html

#9 Add ability to style elements with class names
  bundle.js
  data/Berries/Jaboca.md
  package-lock.json
  package.json
  scripts/markdown-plugins/id-element.js
  scripts/markdown-renderer.js
  styles.css
Labels: markdown, script

#10 Data tables save table state
  bundle.js
  scripts/datatables.js
Labels: script
