Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2023-08, with the labels that each got.

#105 Add dungeon chest drop chance table to Item pages
  bundle.js
  pages/Items/main.html
  scripts/pages/dungeons.js
Labels: html, script

#108 BugFix: Item pages not loading Chest images
  pages/Items/main.html
Labels: html

#106 Baby Pokemon page
  bundle.js
  data/Baby Pokémon/overview_description.md
  pages/Baby Pokémon/overview.html
  scripts/typeahead.js
Labels: markdown, html, script

#109 More explicit Mega Stone information
  pages/Mega Pokémon/overview.html
Labels: html

#107 Key Items page
  bundle.js
  data/Key Items/overview_description.md
  pages/Key Items/overview.html
  pages/home.html
  scripts/game.js
  scripts/typeahead.js
Labels: markdown, html, script

#110 Apply middle alignment to markdown table cells
  bundle.js
  scripts/markdown-renderer.js
Labels: script

#111 Better evolution hints
  bundle.js
  pages/Pokémon/main.html
  scripts/gameHelper.js
Labels: html, script

#114 Dungeon pages updates
  bundle.js
  pages/Dungeons/main.html
  scripts/gameHelper.js
  scripts/typeahead.js
Labels: html, script

#116 Simplify Mega Pokemon page
  pages/Mega Pokémon/overview.html
Labels: html

#115 Filter pokemon items from search
  bundle.js
  scripts/typeahead.js
Labels: script

#113 Farm Hands
  bundle.js
  data/Farm Hands/Bailey.md
  data/Farm Hands/Jamie.md
  data/Farm Hands/Kerry.md
  data/Farm Hands/Riley.md
  data/Farm Hands/overview.md
  data/Farm Hands/overview_description.md
  pages/Farm Hands/main.html
  pages/Farm Hands/overview.html
  pages/home.html
  scripts/typeahead.js
Labels: markdown, html, script

#117 Make all (most) tables sortable
  bundle.js
  scripts/datatables.js
  scripts/navigation.js
Labels: script

#118 Allow datatable column sort to cycle back to default order
  bundle.js
  index.html
  scripts/datatables.js
Labels: html, script

#120 Egg page fixes
  pages/Eggs/overview.html
Labels: html

#121 Fix gyms overview page
  pages/Gyms/overview.html
Labels: html

#122 Add new obtainable locations
  pages/Pokémon/main.html
Labels: html

#126 Shadow Pokemon
  bundle.js
  data/Shadow Pokémon/overview_description.md
  pages/Dungeons/main.html
  pages/Shadow Pokémon/overview.html
  scripts/pages/dungeons.js
  scripts/pages/pokemon.js
  scripts/typeahead.js
Labels: markdown, html, script

#125 Next/Previous Pokemon buttons
  pages/Pokémon/main.html
Labels: html

#124 Added Egg Steps to Routes / Gyms
  pages/Battle Frontier/overview.html
  pages/Gyms/main.html
  pages/Routes/main.html
  pages/Routes/overview.html
Labels: html

#127 Added no-data-tables to certain pages
  pages/Battle Frontier/overview.html
  pages/Eggs/overview.html
Labels: html

#128 Added Mega Pokémon from 0.10.14
  pages/Mega Pokémon/overview.html
Labels: html

#129 Add indication that a pokemon must be caught before it will appear in the safari zone
  pages/Pokémon/main.html
Labels: html

#131 Roaming Pokemon page updates
  pages/Roaming Pokémon/overview.html
Labels: html

#132 Added 'data-order' to certain pages
  pages/Battle Frontier/overview.html
  pages/Dungeons/overview.html
  pages/Farm Hands/overview.html
  pages/Hatchery Helpers/overview.html
  pages/Items/main.html
  pages/Pokémon/overview.html
  pages/Vitamins/overview.html
Labels: html

#135 Dream orb loot links
  bundle.js
  pages/Dream Orbs/overview.html
  scripts/pages/dreamOrbs.js
  scripts/pages/items.js
Labels: html, script
