Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2023-07, with the labels that each got.

#90 Fix daily chain date displays sometimes being off by a day
  pages/Daily Deal Chains/overview.html
Labels: html

#92 Fix some temp battle links
  pages/Temporary Battles/overview.html
Labels: html

#91 Mega Pokémon from 0.10.12 + Links
  pages/Mega Pokémon/overview.html
Labels: html

#94 Gem Trader fixes
  pages/Items/main.html
  pages/Towns/main.html
Labels: html

#96 Capitalize and center Gem Region Column
  pages/Gems/main.html
Labels: html

#95 Fixed Town <-> Gym Links
  pages/Gyms/main.html
  pages/Gyms/overview.html
  pages/Pokémon/main.html
  pages/Towns/main.html
Labels: html

#97 Fix 0.10.13 loading error
  bundle.js
  scripts/game.js
Labels: script

#87 Dungeons boss requirements
  pages/Dungeons/main.html
Labels: html

#99 Fixed Mega Sceptile gems
  pages/Mega Pokémon/overview.html
Labels: html

#100 Change safari pokemon list generation to Kanto only
  bundle.js
  scripts/game.js
Labels: script

#98 Capitalize Route Encounters
  pages/Routes/main.html
Labels: html

#101 Added Roamer Chance to Routes
  pages/Routes/main.html
  pages/Routes/overview.html
Labels: html

#102 Update quest line step list
  pages/Quest Lines/main.html
Labels: html

#103 Roaming Pokemon & start of better requirement hints
  bundle.js
  data/Roaming Pokémon/overview_description.md
  pages/Roaming Pokémon/overview.html
  pages/Temporary Battles/overview.html
  scripts/gameHelper.js
  scripts/main.js
  scripts/pages/tempBattles.js
  scripts/typeahead.js
Labels: markdown, html, script
