Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2024-10, with the labels that each got.

#213 Added Native Region to Pokémon pages
  data/Pokémon/overview_description.md
  pages/Pokémon/overview.html
  templates/pokemon-summary.html
Labels: markdown, html

#214 Add region to Dungeon and Dungeon Boss pokemon obtain locations
  pages/Pokémon/main.html
Labels: html

#215 Berry prev/next paging
  pages/Berries/main.html
Labels: html

#216 Pokemon sprite selector
  templates/pokemon-summary.html
Labels: html

#217 Improved clickable table rows
  bundle.js
  pages/Berries/overview.html
  pages/Dungeons/main.html
  pages/Dungeons/overview.html
  pages/Events/overview.html
  pages/Farm Hands/overview.html
  pages/Gems/overview.html
  pages/Gyms/overview.html
  pages/Hatchery Helpers/overview.html
  pages/Items/main.html
  pages/Items/overview.html
  pages/Oak Items/overview.html
  pages/Pokémon/overview.html
  pages/Quest Lines/overview.html
  pages/Regions/main.html
  pages/Regions/overview.html
  pages/Routes/overview.html
  pages/Temporary Battles/overview.html
  pages/Towns/overview.html
  scripts/navigation.js
Labels: html, script

#218 Click Attack page
  bundle.js
  data/Click Attack/overview_description.md
  data/Pokémon/overview_description.md
  pages/Click Attack/overview.html
  pages/home.html
  scripts/typeahead.js
Labels: markdown, html, script
