Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2024-07, with the labels that each got.

#205 Dungeon Guides page
  bundle.js
  data/Dungeon Guides/overview_description.md
  pages/Dungeon Guides/main.html
  pages/Dungeon Guides/overview.html
  pages/home.html
  scripts/typeahead.js
Labels: markdown, html, script

#207 Updated BE to Match the Game
  pages/Pokémon/main.html
  pages/Pokémon/overview.html
  pages/Vitamins/overview.html
Labels: html

#206 Add typeahead page redirects
  bundle.js
  scripts/typeahead.js
Labels: script

#208 Show requirements for temp battles
  pages/Gyms/main.html
  pages/Temporary Battles/main.html
Labels: html

#209 Farm Simulator - ability to import from pokeclicker save
  bundle.js
  pages/Farm Simulator/overview.html
  scripts/pages/farmSimulator.js
Labels: html, script

#210 Improve requirement lock & tooltip display for obtain locations (mostly for mobile)
  pages/Pokémon/main.html
Labels: html
