Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2024-06, with the labels that each got.

#191 Use PokemonName rather than ItemName for PokemonItem page links
  pages/Battle Points/overview.html
  pages/Diamonds/overview.html
  pages/Dungeon Tokens/overview.html
  pages/Pokédollars/overview.html
Labels: html

#192 Update dusk Alcremies to show Counterclockwise rather than Any direction
  bundle.js
  scripts/pages/pokemon.js
Labels: script

#194 Update currency pages to show what special items can be purchased with them
  bundle.js
  data/Pokédollars/overview_description.md
  pages/Battle Points/overview.html
  pages/Diamonds/overview.html
  pages/Dungeon Tokens/overview.html
  pages/Pokédollars/overview.html
  scripts/pages/shopMon.js
Labels: markdown, html, script

#195 Updated Mega Page to 0.10.20
  pages/Mega Pokémon/overview.html
Labels: html

#196 Some Fixes
  pages/Diamonds/overview.html
  pages/Pokémon/main.html
  pages/Wandering Pokémon/overview.html
Labels: html

#197 Fix Safari requirements and sprites for v0.10.20
  bundle.js
  pages/Towns/main.html
  scripts/gameHelper.js
Labels: html, script

#198 Updated EV gain in Wanderers page
  pages/Wandering Pokémon/overview.html
Labels: html

#199 Change html script to accommodate all Gym pokemon requirements
  pages/Gyms/main.html
  pages/Gyms/overview.html
Labels: html

#200 Added FP per Wanderer to Berries Page
  pages/Berries/main.html
  pages/Berries/overview.html
Labels: html

#204 Add links from Pokémon locations to the relevant page, remove force-opening in new tab
  pages/Pokémon/main.html
Labels: html
