Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2024-01, with the labels that each got.

#161 Add dates and cost of activation to Events page
  pages/Events/overview.html
Labels: html

#158 Alternate Pokemon Forms page
  bundle.js
  data/Alternate Pokémon Forms/overview_description.md
  pages/Alternate Pokémon Forms/overview.html
  scripts/typeahead.js
Labels: markdown, html, script

#180 Add missing types to temporary battles that have no Pokémon requirements
  pages/Temporary Battles/main.html
Labels: html

#184 Restore Dungeon Drop tables to Underground item pages after the rework
  bundle.js
  pages/Items/main.html
  scripts/pages/dungeons.js
Labels: html, script
