Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2024-02, with the labels that each got.

#176 Adding level and experience
  pages/Gyms/main.html
  pages/Pokémon/overview.html
  pages/Routes/main.html
  pages/Routes/overview.html
  templates/pokemon-summary.html
Labels: html

#179 Adjust Shadow Pokémon obtain method display
  pages/Pokémon/main.html
Labels: html

#185 Add the final missing Pokémon obtain locations
  bundle.js
  pages/Pokémon/main.html
  scripts/pages/pokemon.js
Labels: html, script

#181 Hide unreleased content 2: Electric Boogaloo
  bundle.js
  pages/Dungeons/overview.html
  pages/Gems/main.html
  pages/Pokémon Dollars/overview.html
  pages/Pokémon/overview.html
  scripts/pages/dungeons.js
  scripts/pages/pokemon.js
  scripts/typeahead.js
Labels: html, script

#182 Update currency pages
  bundle.js
  data/Achievements/overview_description.md
  data/Battle Frontier/overview_description.md
  data/Dungeons/overview_description.md
  data/Hatchery Helpers/Jasmine.md
  data/Pokédollars/overview.md
  data/Pokédollars/overview_description.md
  pages/Battle Frontier/overview.html
  pages/Battle Points/overview.html
  pages/Diamonds/overview.html
  pages/Dungeon Tokens/overview.html
  pages/Pokédollars/overview.html
  pages/home.html
  scripts/main.js
  scripts/pages/dungeonTokens.js
  scripts/typeahead.js
Labels: markdown, html, script

#178 Pokéballs page
  bundle.js
  data/Poké Balls/overview_description.md
  pages/Poké Balls/overview.html
  pages/home.html
  scripts/typeahead.js
Labels: markdown, html, script

#187 Fixed Battle Frontier Calculator
  pages/Battle Frontier/overview.html
Labels: html
