Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2025-04, with the labels that each got.

#227 Update requirement text to cover "more" case
  bundle.js
  scripts/gameHelper.js
Labels: script

#223 Add Discord sign-in button in place of edit button when not signed in
  index.html
  styles.css
Labels: html

#225 Markdown data-sort
  bundle.js
  data/Items/Key Stone.md
  scripts/markdown-renderer.js
Labels: markdown, script

#226 Flute farm spot
  bundle.js
  pages/Items/main.html
  scripts/pages/gems.js
Labels: html, script
