Repository pokeclicker/pokeclicker-wiki, pull requests merged in 2025-06, with the labels that each got.

#232 Enable cross page anchor links
  bundle.js
  data/Wiki Guide/overview.md
  scripts/navigation.js
Labels: markdown, script

#233 Added an Underground & Helper Page
  bundle.js
  data/Underground Helpers/overview_description.md
  data/Underground/overview_description.md
  pages/Underground Helpers/main.html
  pages/Underground Helpers/overview.html
  pages/Underground/main.html
  pages/Underground/overview.html
  pages/home.html
  scripts/typeahead.js
Labels: markdown, html, script

#224 Adjust dungeon achievement cost table
  pages/Dungeons/overview.html
Labels: html

#234 Update Roaming Chance calculation to include subregion
  bundle.js
  index.html
  pages/Routes/main.html
  pages/Routes/overview.html
  scripts/pages/pokemon.js
Labels: html, script
